@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

:root {
  font-family:
    "Work Sans",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Arial,
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family:
    "Work Sans",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Arial,
    sans-serif;
}

input {
  font-size: 15px;
}

//typography
.heading {
  font-size: 3rem;
  margin: 1rem 0rem;
  &.center {
    text-align: center;
  }
}

.text {
  font-size: 1.2rem;
}

.text-center {
  text-align: center;
}
